name: Download artifacts 
on:
  workflow_dispatch:   
  push:              

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
             name: project-zip
             path: .project.zip
             
             
             
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: project-zip         
          path: ./artifact-download 

    
      - name: Show downloaded files
        run: ls -R ./artifact-download
